body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-image: url('/images/2004616.jpg');
    overflow: hidden;
    height: 100vh;

}

.staff_1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background: white;
    border-radius: 10px;
}

.center h1{
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid silver;

}

.center form{
    padding: 0 40px;
    box-sizing: border-box;

}